.navbar{
    color: #ffff !important;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }

.d-block{
    height: 480px;
}

.card{
    width: auto;
    height: 90% !important;
    margin: 10px 10px 25px 15px;
    margin-top: 30px !important;
    transition: 1s;
}

.card:hover{
    transform:scale(1.3);
    background: #ffffff;
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}

.card-text{
    font-weight: bold !important;
    text-align: center;
}

.nav-item{
    text-align: center !important;
}

.btn{
    display: flex !important;
    justify-content: center !important;

}
.footer{
    width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: center;
}

.footer > p{
    color: cornsilk;
    text-align: center;
}

.footer-bottom {
    padding:20px 0;
	margin-top: 30px;
    border-top: 1px solid #e9edf3;
}
.skin-dark-footer .footer-bottom {
    background:#1b2132;
	border-top:none;
}
ul.footer-bottom-social {
    margin: 0;
    padding: 0;
}
ul.footer-bottom-social li {
    display: inline-block;
    list-style: none;
    margin-right: 17px;
	margin-top: 0;
}
ul.footer-bottom-social li a {
    color:#546e7a;
}
ul.footer-bottom-social li a:hover, ul.footer-bottom-social li a:focus{
	color:#007bff;
}
ul.footer-bottom-social li i {
    margin-right: 5px;
}
footer.skin-dark-footer ul.footer-bottom-social li a {
    color: #858b9f;
    font-size: 14px;
}
footer.skin-dark-footer ul.footer-bottom-social li a:hover, footer.skin-dark-footer ul.footer-bottom-social li a:focus{
	color:#ffffff;
	opacity:1;
}
.footer-add {
    color: #858b9f;
    font-size: 13px;
}
.ft-copyright {
    border-top: 1px solid #eaeef3;
    padding: 15px 0 12px 0;
}
.ft-copyright p{
	margin-bottom:0;
}
.footer-logo img {
    max-width: 185px;
}
.footer-widget {
    padding:0px 0 30px;
}
h4.widget-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 17px;
}
.footer-widget ul {
    padding: 0;
    margin: 0;
}
.footer-widget ul li {
    list-style: none;
    margin-top:15px;
    display: block;
}
.footer-widget ul li a{
	color:#626a70;
}

footer.skin-dark-footer h4{
    color: #ffffff;
}
footer.skin-dark-footer .footer-widget ul li a, footer.skin-dark-footer, footer.skin-dark-footer a {
    color: #858b9f;
    transition: all ease 0.4s;
    font-size: 14px;
}
footer.skin-dark-footer .footer-widget ul li a:hover, footer.skin-dark-footer .footer-widget ul li a:focus{
    color:#ffffff;
}
.widget_media_image {
    margin-top: 3rem;
}
.color{
    color: #ffffff;
}

